@model string
<!DOCTYPE html>
<html>
<head>
    <title>Map Features</title>
</head>
<body>
    <div id="map" style="width: 600px; height: 400px;"></div>
    <script>
        var geoJsonData = @Html.Raw(Model);
        // Initialize your map and other JS here
    </script>
</body>
</html>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}